<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Week-4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <!-- <link rel="stylesheet" href="styles.css"> -->



</head>

<body>
    <nav class='site-navigation' role='navigation'>
        <div class="menu-title">正整數平方計算結果</div>
    </nav>



    <div class="main-content">
        <div class="login-form">
            <h2>{{calculation_result}}</h2>
            
        </div>
    </div>

    <script>


    </script>


</body>

</html>